<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Your conversations</div>
            <div class="panel-body">
                <div class="container">
                    <% @conversations.each do |conversation| %>
                        <% other = current_user == conversation.sender ? conversation.recipient : conversation.sender %>

                        <%= link_to conversation_messages_path(conversation) do %>
                            <div class="row conversation">
                                <div class="col-md-2">
                                    <%= image_tag gravatar(other), class: "img-circle avatar-medium" %>
                                </div>
                                <div class="col-md-2">
                                    <%= other.fullname %>
                                </div>
                                <% if conversation.messages.length > 0 %>
                                    <div class="col-md-8">
                                        <%= conversation.messages.last.content %><br/>
                                        <%= conversation.messages.last.message_time %>
                                    </div>
                                <% end %>
                            </div>
                        <% end %>

                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>