<div class="row">   
    <%= render 'bookings/sidebar' %>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Your trips
            </div>
            <div class="panel-body">
                <% @trips.each do |trip| %>
                    <hr>
                    <div class="row">
                       <div class="col-md-2"><%= trip.start_date.strftime('%v') %></div>
                       <div class="col-md-6">
                            <%= link_to room_path(trip.room) do %>
                                <%= image_tag trip.room.show_first_photo, class: "photo-thumb" %>
                            <% end %>
                       </div>
                       <div class="col-md-2">
                        <%= link_to user_path(trip.room.user) do %>
                            <%= image_tag gravatar(trip.room.user), class: "img-circle avatar-medium" %>
                        <% end %>
                       </div>
                       <div class="col-md-2">
                        <h4>$<%= trip.total %></h4>
                       </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
