        <div id="review_<%= review.id %>">
        <div class="row">
            <div class="col-md-1">
                <%= image_tag gravatar(review.user), class: "img-circle avatar-medium" %>
            </div>
            <div class="col-md-11">
                <div>
                    <strong><%= review.user.fullname %> <div id="stars_<%= review.id %>"></div></strong>
                    <span class="pull-right">
                        <%= link_to "Remove", room_review_path(room_id: review.room_id, id: review.id), method: :delete, data: {confirm: "Are your sure?"}, remote: true if current_user && current_user == review.user %>
                    </span>
                </div>

                <div><%= review.created_at.strftime("%v") %></div>
                <div><%= review.comment %></div>
            </div>
        </div>

        <script>
            $('#stars_<%= review.id %>').raty({
                    path: '/assets',
                    readOnly: true,
                    score: <%= review.star %>
            });
        </script>
        </div>