<!DOCTYPE html>
<html>
  <head>
    <title>AirAlien</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<%= render 'shared/navbar' %>
    <%= render 'shared/message' %>

  	<div class="container" style="margin-top:60px" > 	
  		<%= yield %>
  	</div>
  </body>
</html>
