<!DOCTYPE html>
<html>
  <head>
    <title>AirAlien</title>
    <%= csrf_meta_tags %>

    <script src="https://use.fontawesome.com/a8351d02cc.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<%= render 'shared/navbar' %>
    <%= render 'shared/message' %>

  	<div class="container" style="margin-top:60px" > 	
  		<%= yield %>
  	</div>
  </body>
</html>
